services:
  payments-service:
    container_name: payments-service
    build: .
    restart: always
    ports:
      - "${PORT}:4006"
    env_file:
      - .env
    networks:
      - shared-network

networks:
  shared-network:
    driver: bridge